<% layout("layouts/boilerplate") %>
  <%= success %>
    <!-- <h3>all listings</h3> -->
    <!-- <form method="GET" action="/listings/new">
        <button>create new </button>
    </form> -->

    <style>
      #filters {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0.6rem;
      }

      .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
      }

      .filter:hover {
        opacity: 1;
        cursor: pointer;
      }

      #filters .filter p {
        font-size: 0.7rem;
      }

      .tax-toggle {
        margin-left: auto;
        white-space: nowrap;
        flex-shrink: 0;
        padding: 1rem;
        display: flex;
        align-items: center;
        text-align: center;
        border: 2px solid black;
        border-radius: 1.5rem;
        height: 2rem;
        margin-left: 2rem;
      
      }
    </style>
    <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Amazing viwes</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic cities</p>
      </div>

      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing pools</p>
      </div>


      <div class="filter">
        <div><i class="fa-solid fa-tent"></i></div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>forms</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
      </div>

      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" checked>
          <label class="form-check-label" for="switchCheckChecked">display total after taxes</label>
        </div>
      </div>
      </div>

      <div class="container pt-0 mt-0" style="margin-right: 6rem;">
        <div class="row row-cols-lg-3 row-cols-md-1 row-cols-2 g-4 justify-content-center">
          <% for (let listing of allListings) { %>
            <div class="col d-flex justify-content-center">
              <a href="/listings/<%= listing._id %>" class="listing-link text-decoration-none">
                <div class="card listing-card w-100" style="max-width: 25rem;">
                  <img src="<%= listing.image.url %>" class="card-img-top"
                    style="height: 17rem; object-fit: cover; border-top-left-radius: 12px; border-top-right-radius: 12px;">
                  <div class="card-body">
                    <h6 class="mb-1"><strong>Title:</strong>
                      <%= listing.title %>
                    </h6>
                    <p class="mb-0"><strong>Price:</strong> ₹<%= listing.price ? listing.price.toLocaleString("en-IN")
                        : "N/A" %> / night
                        <i class="tax-info"> &nbsp; &nbsp;+18% GST </i>
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <% } %>
        </div>
      </div>


      <script>
        let taxSwitch = document.getElementById("switchCheckChecked");

        taxSwitch.addEventListener("click", () => {
          let taxinfo = document.getElementsByClassName("tax-info");
          for (info of taxinfo) {
            if (info.style.display != "inline") {
              info.style.display = "inline";
            } else {
              info.style.display = "none";
            }
          }

        });
      </script>